@import url(https://weloveiconfonts.com/api/?family=entypo|zocial);

* {
    margin: 0;
    padding: 0;
    scrollbar-color: #f1f5f8 transparent;
    scrollbar-width: thin;
}

header {
    background: white;
    color: #377f8e;
    padding-top: 14px;
    padding-bottom: 14px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header-content {
    display: flex;
    width: 1150px;
    align-items: center;
}

header-content .logo-container {
    display: flex;
    align-items: center;
    width: 105px;
    height: 52px;
    max-width: 135px;
    padding: 0px 15px;
}

header-content .logo {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
}

.Navigator-Size-Clone {
    width: 0px;
}

.Navigator {
    display: flex;
    width: 75%;
    overflow: hidden;
}

.Navigator ul {
    display: flex;
    list-style: none;
}

.Navigator ul li {
    padding: 8px;
}

.Navigator ul li a {
    color: #377f8e;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.Navigator ul li a:hover {
    color: #96c2db;
}

[class*="entypo-heart-empty"]::before {
    font-family: 'entypo', sans-serif;
    font-size: 25px;
    padding: 0 10px;
}

[class*="zocial-cart"]::before {
    font-family: 'zocial', sans-serif;
    font-size: 25px;
    padding: 0 10px;
}

.line {
    display: none;
    z-index: 3;
    margin: 0px 20px;
}

.line div {
    width: 25px;
    height: 4px;
    border-radius: 20px;
    background-color: #377f8e;
    margin: 4px 0;
    transition: 0.4s;
}

.bar1 {
    transform: translate(0, 0vw) rotate(0deg);
}

.bar2 {
    opacity: 100%;
}

.bar3 {
    transform: translate(0, 0vw) rotate(0deg);
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -5px) rotate(45deg);
}

.btn1 {
    margin: auto 10px;
    min-width: 130px;
    min-height: 45px;
    background: #377f8e;
    color: white;
    border-style: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn1:hover {
    margin: auto 10px;
    min-width: 130px;
    min-height: 45px;
    color: #377f8e;
    background: none;
    border: 1px solid #377f8e;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.btn2 {
    margin: auto 10px;
    min-width: 130px;
    min-height: 45px;
    color: #377f8e;
    border: 1px solid #377f8e;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    background: none;
}

.btn2:hover {
    margin: auto 10px;
    min-width: 130px;
    min-height: 45px;
    background: #377f8e;
    color: white;
    border-style: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.Heading-Container {
    display: block;
    width: 40%;
    margin: 40px auto 10px auto;
    color: #377f8e;
    text-align: center;
    font-size: 25px;
}

.Welcome-Text {
    display: block;
    width: 50%;
    margin: 5px auto 10px auto;
    color: rgb(45, 45, 45);
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 55px;
}

.dash {
    display: block;
    width: 35px;
    height: 3px;
    margin: 5px auto;
    background-color: #377f8e;
    border-radius: 10px;
}

.Paragraph-01 {
    display: block;
    width: 82%;
    margin: 20px auto;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.Main-Image-Container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

Content-Button {
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
}

Teams-Box {
    display: block;
    width: 100%;
    padding:20px 0px;
    background-color: #e0e0e0;
}

Teams-Box Text1 {
    display: block;
    width: 40%;
    margin: 40px auto 10px auto;
    color: #377f8e;
    text-align: center;
    font-size: 25px;
}

Teams-Box Text2 {
    display: block;
    font-size: 55px;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
}

Teams-Box Text3 {
    display: block;
    margin: 15px auto;
    width: 80%;
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    text-align: center;
}

Devs-Box {
    display: block;
    width: 100%;
}

.devlopers-info {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.devlopers-info img {
    width: 250px;
    height: 100%;
    margin: 5px;
}

footer {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
}

footer .logo-container {
    display: block;
    width: 100%;
}

footer .logo {
    font-size: 30px;
    color: #377f8e;
    display: block;
    width: 100px;
    margin: 30px auto;
    text-align: center;
}

footer Text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

footer Text p {
    font-size: 15px;
    font-family: "Playfair Display", sans-serif;
    color: #377f8e;
}


@media only screen and (max-width:1000px) {
    .Navigator-Size-Clone {
        width: 75%;
    }

    .Navigator {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0px;
        right: 0px;
        width: 300px;
        height: 100%;
        background-color: white;
    }

    .Navigator ul {
        flex-direction: column;
        margin: 100px 20px;
    }

    .Navigator ul li {
        margin: 5px;
    }

    .line {
        display: block;
        position: static;
        right: 0px;
        top: 25px;
    }
}

@media only screen and (max-width:815px) {
    [class*="entypo-heart-empty"]::before {
        display: none;
    }

    [class*="zocial-cart"]::before {
        display: none;
    }

    .Main-Text-Container--Box {
        position: static;
        display: block;
        margin: auto;
        width: 88%;
        height: auto;
        padding-bottom: 60px;
    }

    .Main-Text-Container--Heading {
        padding: 40px 60px 10px 60px;
        font-size: 23px;
    }

    .Main-Text-Container--Paragraph {
        font-size: 16px;
    }

    .btn1 {
        min-width: 110px;
        min-height: 40px;
        font-size: 14px;
    }

    .btn1:hover {
        min-width: 110px;
        min-height: 40px;
        font-size: 14px;
    }

    .btn2 {
        min-width: 110px;
        min-height: 40px;
        font-size: 14px;
    }

    .btn2:hover {
        min-width: 110px;
        min-height: 40px;
        font-size: 14px;
    }
    .devlopers-info {
        width: 80%;
        margin: 10px auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .devlopers-info img {
        flex: 1 1 150px;
    }
}