@import url(https://weloveiconfonts.com/api/?family=entypo|zocial);

* {
    margin: 0;
    padding: 0;
    scrollbar-color: #f1f5f8 transparent;
    scrollbar-width: thin;
}

header {
    background: white;
    color: #377f8e;
    padding-top: 14px;
    padding-bottom: 14px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header-content {
    display: flex;
    width: 1150px;
    align-items: center;
}

header-content .logo-container {
    display: flex;
    align-items: center;
    width: 105px;
    height: 52px;
    max-width: 135px;
    padding: 0px 15px;
}

header-content .logo {
    font-size: 26px;
    font-family: 'Playfair Display', serif;
}
.Navigator-Size-Clone{
    width:0px;
}
.Navigator {
    display: flex;
    width: 75%;
    overflow: hidden;
}

.Navigator ul {
    display: flex;
    list-style: none;
}

.Navigator ul li {
    padding: 8px;
}

.Navigator ul li a {
    color: #377f8e;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.Navigator ul li a:hover{
    color: #96c2db;
}

[class*="entypo-heart-empty"]::before {
    font-family: 'entypo', sans-serif;
    font-size: 25px;
    padding: 0 10px;
}

[class*="zocial-cart"]::before {
    font-family: 'zocial', sans-serif;
    font-size: 25px;
    padding: 0 10px;
}
.line {
    display:none;
    z-index:3;
    margin:0px 20px;
}
.line div {
    width: 25px;
    height: 4px;
    border-radius:20px;
    background-color: #377f8e;
    margin: 4px 0;
    transition: 0.4s;
}

.bar1 {
    transform: translate(0, 0vw) rotate(0deg);
}

.bar2 {
    opacity: 100%;
}

.bar3 {
    transform: translate(0, 0vw) rotate(0deg);
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0,-5px) rotate(45deg);
} 

.Heading-Container{
    display: block;
    width: 50%;
    margin: 20px auto 10px auto;
    color: rgb(45, 45, 45);
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    font-style: italic;
    font-size: 60px;
}
.Paragraph-01{
    display: block;
    width:82%;
    margin:20px auto;
    text-align: center;
    font-family: "Lato",sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.contact-box{
    display: block;
    width:60%;
    margin: 20px auto;
    background-color: #e5edf1;
    padding:20px;
}
.contact-form{
    width:100%;
    display:grid;
    grid-template-columns: auto auto ;
    gap:10px;
}
.Email{
    grid-column: 1/3;
}
.Phone{
    grid-column: 1/3;
}
.Notes{
    grid-column: 1/3;
}
.Notes input{
    height:150px;
}
.contact-form .text{
    margin:10px;
    font-size: 20px;
}
input{
    width:100%;
    height:40px;
    border-radius:5px;
    border-style: none;
    border:1px solid #377f8e;
}
Submit-Button{
    display: block;
    margin:30px 0px;
}
.btn {
    display: block;
    margin:auto;
    min-width: 140px;
    min-height: 48px;
    background: #377f8e;
    color: white;
    border-style: none;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn:hover {
    display: block;
    margin:auto;
    min-width: 140px;
    min-height: 48px;
    color: #377f8e;
    background: none;
    border: 1px solid #377f8e;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
}

@media only screen and (max-width:1000px) {
    .Navigator-Size-Clone{
        width:75%;
    }
    .Navigator{
        display: none;
        position:fixed;
        z-index:1;
        top:0px;
        right:0px;
        width:300px;
        height:100%;
        background-color: white;
    }
    .Navigator ul{
        flex-direction: column;
        margin:100px 20px;
    }
    .Navigator ul li{
        margin:5px;
    }
    .line{
        display: block;
        position:static;
        right:0px;
        top:25px;
    }
}

@media only screen and (max-width:815px) {
    [class*="entypo-heart-empty"]::before {
        display: none;
    }

    [class*="zocial-cart"]::before {
        display: none;
    }
}