body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.995);
}
.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:553px;
    height:553px;
    background-color: white;
    overflow: hidden;
}
.table{
    position:absolute;
    top:60%;
    left:20%;
    z-index:5;
    background-color: white;
    width:25vw;
    height:50vh;
    border-top: 0.5vw solid black;
}
.head{
    position:absolute;
    background-color: #999999;
    z-index:2;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:18vw;
    height:18vw;
    border-radius: 50%;
    border:5px solid black;
    overflow:hidden;
}
.leftear{
    background: #999999;
    position:absolute;
    transform: rotate(80deg);
    z-index:1;
    top:33%;
    left:24.5%;
    width:6vw;
    height:6vw;
    border:5px solid black;
    border-radius: 1.8vw 1.4vw 1.8vw 1.4vw;
}
.leftearpiece{
    background: #cccccc;
    position:absolute;
    transform: rotate(80deg);
    z-index:1;
    top:35.5%;
    left:26.5%;
    width:4vw;
    height:4vw;
    border-radius: 2vw 0.8vw 2vw 0.8vw;
}
.rightear{
    background:#999999;
    position:absolute;
    transform: rotate(345deg);
    z-index:1;
    top:26.3%;
    left:53%;
    width:6vw;
    height:6vw;
    border:5px solid black;
    border-radius: 1.8vw 1.4vw 1.8vw 1.4vw;
}
.rightearpiece{
    background: #cccccc;
    position:absolute;
    transform: rotate(340deg);
    z-index:1;
    top:28.7%;
    left:55.3%;
    width:5vw;
    height:5vw;
    border-radius: 2vw 0.4vw 2vw 0.4vw;
}
.lefteye{
    position:absolute;
    z-index: 3;
    top:48%;
    left:39%;
    transform:translate(-50%,-50%);
    width:3vw;
    height:3vw;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.eyepiece{
    position: absolute;
    top:20%;
    left:50%;
    width:0.9vw;
    height:0.9vw;
    background-color:white;
    border-radius: 50%;
}
.righteye{
    position:absolute;
    z-index: 3;
    top:43.5%;
    left:56%;
    transform:translate(-50%,-50%);
    width:3vw;
    height:3vw;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.mouth{
    position:absolute;
    top:47.6%;
    left:44.5%;
    z-index: 3;
    width:4.5vw;
    height:3.5vw;
    border-radius:50% 50% 50% 50% / 40% 40% 60% 60%;
    background-color:#cccccc;
    transform:rotate(350deg);
}
.Nose{
    position:absolute;
    top:48.6%;
    left:46.7%;
    z-index: 6;
    width:1.2vw;
    height:0.6vw;
    border:4px solid black;
    border-radius:50% 50% 50% 50% / 40% 40% 60% 60%;
    transform:rotate(345deg);
    background-color: black;
}
.Noseline1{
    z-index: 5;
    position: absolute;
    top:50%;
    left:49.5%;
    width:1.3vw;
    height:0.8vw;
    border-radius:0% 0% 50% 50%/0% 0% 60% 50%;
    transform:rotate(345deg);
    background-color: #cccccc;
    border-bottom:5px solid black;
    border-left:5px solid black;
}
.Noseline2{
    z-index: 5;
    position: absolute;
    top:51%;
    left:46.6%;
    width:1vw;
    height:0.7vw;
    border-radius:0% 0% 50% 50%/ 0% 0% 50% 40%;
    transform:rotate(345deg);
    background-color: #cccccc;
    border-bottom:5px solid black;
    border-right:5px solid black;
}
.tounge{
    z-index:4;
    width:1vw;
    height:0.8vw;
    position: absolute;
    top:51.4%;
    left:48.1%;
    border-radius:0% 0% 50% 50%/ 0% 0% 50% 50%;
    background-color: rgb(255, 184, 171);
    transform:rotate(340deg);
    border:5px solid black;
}
.detail1{
    position: absolute;
    left:33%;
    top:-5%;
    width:1.9vw;
    height: 5.5vw;
    background-color: #4c4c4c;
    transform: rotate(345deg);
    border-radius: 0 0 50% 50%;
}
.detail2{
    position: absolute;
    left:20%;
    top:-5%;
    width:1.6vw;
    height: 5.5vw;
    background-color: #4c4c4c;
    transform: rotate(345deg);
    border-radius: 0 0 50% 50%;
}
.detail3{
    position: absolute;
    left:47%;
    top:-3%;
    width:1.5vw;
    height: 3.8vw;
    background-color: #4c4c4c;
    transform: rotate(345deg);
    border-radius: 0 0 50% 50%;
}
.detail4{
    position: absolute;
    left:-5%;
    top:48%;
    width:3vw;
    height:1vw;
    background-color: #4c4c4c;
    border-radius: 0 50% 50% 0;
}
.detail5{
    position: absolute;
    right:-3%;
    top:27%;
    width:4vw;
    height:1.3vw;
    background-color: #4c4c4c;
    transform: rotate(330deg);
    border-radius: 50% 0 0 50%;
}
.lefthand {
    z-index: 7;
    top:50%;
    left:18%;
    position:relative;
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line1 {
    width: 4.5vw;
    height: 3vw;
    background: #999999;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    border-radius: 50% 50% 30% 0%/70% 70% 30% 0%;
}

.line2 {
    /* display: none; */
    position: absolute;
    top:55%;
    left:49%;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 0 0 50% 50%;
    background: #999999;
    border-bottom:4px solid black;
    border-right:4px solid black;
}
.line3{
    /* display: none; */
    position: absolute;
    top:55.5%;
    left:35%;
    width: 1.4vw;
    height: 1.4vw;
    border-radius: 0 0 50% 50%;
    background: #999999;
    border-bottom:4px solid black;
    border-right:4px solid black;
}
.righthand{
    z-index:4;
    position:relative;
    top:4%;
    left:2%;
    width:40vw;
    height:40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(350deg);
}
.handline1{
    position:absolute;
    top:35%;
    left:63%;
    width: 1vw;
    height: 6vw;
    background-color: #999999;
    border-right: 4px solid black;
    border-radius: 0 50% 50% 0;
}
.handline2{
    position:absolute;
    top:35%;
    left:74.5%;
    width:1vw;
    height:6vw;
    background-color: white;
    border-left:4px solid black;
    border-radius:50% 0 0 50%;
}
.handline3{
    position:absolute;
    top:33%;
    left:64.7%;
    transform:rotate(350deg);
    width:1vw;
    height:1vw;
    border-top:4px solid black;
    border-left:4px solid black;
    border-radius:50% 50% 0 0;
}
.handline4{
    position:absolute;
    top:32%;
    left:67%;
    transform:rotate(350deg);
    width:1vw;
    height:1vw;
    background-color: #999999;
    border-top:4px solid black;
    border-radius:50% 50% 0 0;
}
.handline5{
    position:absolute;
    top:31%;
    left:68.5%;
    transform:rotate(350deg);
    width:1.1vw;
    height:1vw;
    background-color: #999999;
    border-top:4px solid black;
    border-radius:50% 50% 0 0;
}
.handline6{
    position:absolute;
    top:31.8%;
    left:71%;
    transform:rotate(350deg);
    width:1vw;
    height:1.2vw;
    background-color: #999999;
    border-top:4px solid black;
    border-radius:50% 50% 0 0;
}
.handline7{
    position:absolute;
    top:32.7%;
    left:72.7%;
    transform:rotate(10deg);
    width:1vw;
    height:1.2vw;
    background-color: #999999;
    border-top:4px solid black;
    border-right:4px solid black;
    border-radius:50% 50% 0 0;
}
.oval1{
    position:absolute;
    top:35%;
    left:66.5%;
    background-color: #cccccc;
    width:0.7vw;
    height:1vw;
    transform: rotate(345deg);
    border-radius: 50%;
}
.oval2{
    position:absolute;
    top:33%;
    left:68.5%;
    background-color: #cccccc;
    width:0.7vw;
    height:1vw;
    transform: rotate(350deg);
    border-radius: 50%;
}
.oval3{
    position:absolute;
    top:33.5%;
    left:71%;
    background-color: #cccccc;
    width:0.7vw;
    height:1vw;
    border-radius: 50%;
}
.oval4{
    position:absolute;
    top:35.2%;
    left:72.9%;
    background-color: #cccccc;
    width:0.7vw;
    height:1vw;
    transform: rotate(10deg);
    border-radius: 50%;
}
.oval5{
    position:absolute;
    top:37%;
    left:69%;
    background-color: #cccccc;
    width:1.5vw;
    height:1.3vw;
    border-radius: 50% 50% 50% 50% /60% 60% 40% 40%;
}
.righthandfiller{
    z-index:3;
    width:5vw;
    height: 10vw;
    position: absolute;
    top: 46.3%;
    left: 64.5%;
    transform: rotate(350deg);
    background: #999999;
}